@import url(variable.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url(variable.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    /* background: red; */
    display: flex;
    padding: 20px;
}


.div__header{
    /* background: green; */
    display: flex;
    flex-direction: column;
    width: 370px;
    height: auto;
    gap: 20px;
    width: 35%;
    margin-top: 70px;
    padding-left: 50px;
    h1{
        font-family: "Avenir-Heavy";
        font-size: 56px;
    }
    p{
        font-family: "Avenir-Roman";
        font-size: 25px;
    }
    .div__container-button{
        background: var(--font-color-1);
        border-radius: 20px;
        width: 150px;
        height: 50px;
        align-content: center;
        text-align: center;
    }
    .div__container-button a{
        color: var(--font-color-2);
        font-family: "Avenir-Roman";
        text-decoration: none;
        font-size: 18px;
    }
}

.div__header-img{
    /* background: pink; */
    width: 55%;
    display: flex;
    gap: 30px;
    padding: 20px;
    justify-content: center;
    height: 500px;
    padding-left: 190px;
}
.div__header-img img{
    width: 320px;
    height: 400px;
    position: relative;
}
#img__header{
    top: 12%;
}

main{
    padding: 40px;
    /* background: blue; */
}
.section__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 40px;
}
.div__container{
    /* background: green; */
    width: 30%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.div__container span{
    font-family: "Avenir-Roman";
    font-size: 25px;
    color: var(--font-color-3);
}
.div__container img{
    display: flex;
    width: 95%;
    height: 100%;
    align-self: center;
}