@import url(variable.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: red;
    padding: 35px;
    width: 200px;
}

.div__logo{
    background: green;
    height: 100px;
}

.div__border img{
    background: yellow;
    position: absolute;
}
.div__icon{
    background: blue;
    position: relative;
    width: 30px;
    top: 35px;
    left: 35px;
}

.section__content{
    background: pink;
    position: absolute;
    padding: 35px;
    width: 100%;
}

.article__content{
    background: orange;
    padding: 35px;
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.article__content h1{
    font-family: "Payfair-Bold";
    font-size: 46px;
}
.article__content p{
    font-family: "WorkSans-Regular";
    font-size: 22px;
}

.div__buttons{
    background: pink;
    display: flex;
    width: 500px;
    gap: 70px;
    justify-content: center;
}
.div__buttons div{
    background: var(--color-2);
    display: flex;
    width: 220px;
    height: 60px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.div__buttons div a{
    font-family: "WorkSans-Medium";
    font-size: 21px;
    color: #eee;
    text-decoration: none;
}
