:root{
    --color-1: #FFFFFF;
    --color-2: #252525;
    --font-color-3: #2C1001;
    --font-color-4: #2C1001;
    --color-3: #FFDE81;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../storage/font/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../storage/font/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "Poppins-Light";
    src: url(../storage/font/Poppins-Light.ttf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../storage/font/Poppins-Regular.ttf);
}