:root{
    --color-1: #FFFFFF;
    --color-2: #252525;
    --color-3: #F2F2F2;
}

@font-face {
    font-family: "Avenir-Heavy";
    src: url(../storage/font/AvenirLTStd-Heavy.otf);
}

@font-face {
    font-family: "Avenir-Roman";
    src: url(../storage/font/AvenirLTStd-Roman.otf);
}