:root{
    --color-1: #FFFFFF;
    --color-2: #252525;
    --background-color-1: linear-gradient(#D9D9D9, #252525, #FFFFFF, #252525);

}

@font-face {
    font-family: "Times-Regular";
    src: url(../storage/font/Poppins-Regular.ttf);
}
